*{
    -fx-base-color: #121212;
    -fx-accent-color: #aa63f6;
    -fx-light-accent-color: #FFA4BE;
    -fx-dark-accent-color: #3f3f6f;

    -fx-supp-color: #8803dA;
    -fx-text-color: #EEEEEE;
    -fx-text-color-dark:  #2C3531;
}


.root{
    -fx-font-family: "Segoe UI", SansSerif, Calibri;
    -fx-font-size: 12px;
}

.root.popup{
    -fx-box-border: none;
}

.dark-theme{
    -fx-background-color: -fx-base-color;
}

/* Theme Styling */

*{
    -jfx-focus-color: -fx-accent-color;
    -jfx-unfocus-color: -fx-text-color;
    -fx-prompt-text-fill: -fx-text-color;
    -fx-rippler-fill: white;
    -fx-text-fill: -fx-text-color;
}

.combo-box-popup .list-view,
.combo-box-popup .list-view .list-cell
{
    -fx-background-color: -fx-base-color;
    -fx-text-fill: -fx-text-color;
}
/* Theme Styling */
/*Font*/
.font-18{
    -fx-font-family: "Segoe UI" !important;
    -fx-font-size: 12px !important;
}
/*Font*/
/*Context Menu*/


/*Context Menu*/

/*Menu Bar*/

#menu-bar{
    -fx-background-color: -fx-base-color;
    -fx-fill: -fx-base-color;
}

.menu-button{
    -fx-background-color: -fx-text-color;
}

.menu-button-selected{
    -fx-background-color: -fx-accent-color !important;
}

.menu-button-pane{
    -fx-background-color: -fx-base-color;
    -fx-background-insets: 0, 0 3 0 0 ;
    -fx-padding: 4px;
}

.menu-button-pane:hover{
    -fx-background-color: -fx-accent-color, -fx-base-color;
}

.menu-button-pane-selected{
    -fx-background-color: -fx-accent-color, -fx-base-color;
}


/*Menu Bar*/

/*OptionPane*/
.option-pane{
    -fx-background-color: -fx-accent-color;
}

.option-pane .headings{
    -fx-font-size: 28px;
    -fx-text-fill: -fx-text-color;
}

.option-button{
    -fx-font-size: 18px;
    -fx-text-fill: -fx-text-color;
    -fx-background-color: -fx-accent-color !important;
}
.option-button > .icon{
    -fx-background-color: -fx-text-color;
}

.option-button:hover{
    -fx-background-color: -fx-light-accent-color !important;
    -fx-text-fill: -fx-text-color-dark;
}

.option-button:hover > .icon{
    -fx-background-color: -fx-text-color-dark !important;
}

.option-toggle >.label{
    -fx-font-size: 18px;
    -fx-text-fill: -fx-text-color;
}

.option-toggle:hover{
    -fx-background-color: -fx-light-accent-color;
}

.option-toggle:hover >.label{
    -fx-text-fill: -fx-text-color-dark;
}

.option-toggle:hover >.icon{
    -fx-background-color: -fx-text-color-dark !important;
}
/*OptionPane*/
/*Edit Org Details*/
.edit-org-details{
    /*-fx-background-image: url("controller/background1.png");*/
}

.edit-org-details .labels{
    -fx-font-size: 16px;
    -fx-text-fill: -fx-text-color;
    -fx-padding: 4px;
}

.edit-org-details .text-fields{
    -fx-font-size: 16px;
    -fx-text-fill: -fx-text-color;
    -fx-padding: 3px;
}

.edit-org-details .buttons{
    -fx-font-size: 16px;
    -fx-text-fill: -fx-text-color-dark;
    -fx-padding: 2px;
    -fx-background-color: -fx-supp-color;
}


/*Edit Org Details*/
/*Setup Database*/

.setup-database .buttons{
    -fx-text-fill: -fx-text-color-dark;
    -fx-padding: 2px;
    -fx-background-color: -fx-supp-color;
    -fx-font-size: 14px;
}

.setup-database .labels{
    -fx-text-fill: -fx-text-color;
}

.setup-database .radio-buttons{
    -fx-text-fill: -fx-text-color;
}

/*Setup Database*/
/*Invoice*/
.invoice-labels{
    -fx-text-fill: -fx-text-color;
}
/*Invoice*/

/*Expense Tracker*/

.expense-tracker .heading{
    -fx-font-size: 32px;
    -fx-text-fill: -fx-text-color;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.expense-tracker . table-header{
    -fx-background-color: -fx-accent-color;
}

.expense-tracker .table-header .header{
    -fx-font-size: 20px;
    -fx-text-fill: -fx-text-color;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.expense-item{
    -fx-background-color: transparent;
}

.expense-item .item-cell{
    -fx-font-size: 18px;
    -fx-text-fill: -fx-text-color;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:vertical .track-background,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color:  derive(-fx-supp-color, 10%);
    -fx-opacity: 0.6;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.add-button{
    -fx-background-color: -fx-supp-color;
    -fx-background-radius: 23px;
}

.add-button > .label{
    -fx-background-color: -fx-text-color;
    -fx-shape: "M 24 9 L 24 24 L 9 24 L 9 26 L 24 26 L 24 41 L 26 41 L 26 26 L 41 26 L 41 24 L 26 24 L 26 9 Z";
}

.add-button:hover{
    -fx-background-color: -fx-light-accent-color;
}

.add-button:hover > .label{
    -fx-background-color: -fx-text-color-dark;
}

/*Expense Tracker*/


/*Advanced settings*/
.advanced-settings{

}
.advanced-settings .jfx-tab-pane .headers-region {
    -fx-background-color: transparent;
}

/*.advanced-settings .tab:selected:top:hover,*/
/*.advanced-settings .tab:selected:top:selected{*/
/*    -fx-background-color: -fx-light-accent-color, transparent;*/
/*    -fx-color: -fx-text-color-dark;*/
/*}*/

.advanced-settings .jfx-tab-pane .tab-header-background {
    -fx-background-color: -fx-accent-color;
}

.advanced-settings .jfx-tab-pane .tab-selected-line {
    -fx-background-color: -fx-light-accent-color;
    -fx-scale-x: 75%;
}

/*Advance settings*/

/*Invoice Settings*/
.invoice-settings .headings{
    -fx-font-size: 18px;
    -fx-text-fill: -fx-text-color;
    -fx-padding: 4px 0px 4px 12px;
}
/*Invoice Settings*/
/* Table View*/
.table-view{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-table-header-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .filler,
.table-view .column-header {
    -fx-size: 40px;
    -fx-border-style: null;
    -fx-font-size: 16px;
    -fx-background-color: -fx-accent-color;
    -fx-font-weight: lighter;
    /*-fx-background-radius: 5px;*/
}

.table-view .column-header .label{
    -fx-text-fill: -fx-text-color-dark !important;
}


.table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}


.table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-cell-size: 35px;
    -fx-text-fill: -fx-text-color-dark;
}

.table-row-cell:odd {
    -fx-background-color: derive(-fx-supp-color, -90%);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even {
    -fx-background-color: derive(-fx-supp-color, -80%);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

/*Scroll Bar*/
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  derive(-fx-supp-color, 10%);
    -fx-opacity: 0.6;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/*Scroll Bar*/



/* Colors */

.black{
    -fx-background-color: black;
}

.dark-grey{
    -fx-background-color: #666;
}

.red{
    -fx-background-color: red;
    -fx-text-fill: #fff;
}

.green{
    -fx-background-color: #229944 !important;
    -fx-text-fill: #fff;
}

.blue{
    -fx-background-color: #2266aa;
    -fx-text-fill: #fff;
}

.white{
    -fx-background-color: #CECECE;
    -fx-text-fill: #333;
}

.supp-color{
    -fx-background-color: -fx-supp-color;
}

/*Error*/
.text-field-error{
    /*-fx-background-color: #ff000077;*/
    -jfx-focus-color: #ff000077;
    -jfx-unfocus-color: #ff000077;
}

/* Alignment */

.center{
    -fx-text-alignment: center !important;
    -fx-alignment: center !important;
}

.right{
    -fx-text-alignment: right !important;
    -fx-alignment: center-right !important;
}

.left{
    -fx-text-alignment: left !important;
    -fx-alignment: center-left !important;
}


/* SVG */

.svg-button,
.svg-button:selected,
.svg-button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.cross{
    -fx-shape: "M285,256l72.5-84.2c7.9-9.2,6.9-23-2.3-31c-9.2-7.9-23-6.9-30.9,2.3L256,222.4l-68.2-79.2c-7.9-9.2-21.8-10.2-31-2.3c-9.2,7.9-10.2,21.8-2.3,31L227,256l-72.5,84.2c-7.9,9.2-6.9,23,2.3,31c4.1,3.6,9.2,5.3,14.3,5.3c6.2,0,12.3-2.6,16.6-7.6l68.2-79.2l68.2,79.2c4.3,5,10.5,7.6,16.6,7.6c5.1,0,10.2-1.7,14.3-5.3c9.2-7.9,10.2-21.8,2.3-31L285,256z";
    -fx-background-color: -fx-text-color;
}

.refresh{
    -fx-shape: "M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z";
    -fx-background-color: -fx-text-color;
}

.search{
    -fx-shape: "M 56.599609 21.599609 C 34.099609 21.599609 15.800781 40.100781 15.800781 62.800781 C 15.800781 85.600781 34.099609 104 56.599609 104 C 66.899609 104 76.3 100.09922 83.5 93.699219 L 85.800781 96 L 83.699219 98.199219 C 82.499219 99.399219 82.499219 101.3 83.699219 102.5 L 101.69922 120.69922 C 102.29922 121.29922 103.00078 121.59961 103.80078 121.59961 C 104.60078 121.59961 105.40039 121.29922 105.90039 120.69922 L 113.90039 112.59961 C 115.00039 111.39961 115.00078 109.50039 113.80078 108.40039 L 95.800781 90.199219 C 95.200781 89.599219 94.499219 89.300781 93.699219 89.300781 C 92.899219 89.300781 92.099609 89.599219 91.599609 90.199219 L 89.5 92.400391 L 87.199219 90 C 93.499219 82.7 97.400391 73.200781 97.400391 62.800781 C 97.400391 40.100781 79.099609 21.599609 56.599609 21.599609 z M 56.599609 27.699219 C 75.799609 27.699219 91.400391 43.500391 91.400391 62.900391 C 91.400391 82.300391 75.799609 98 56.599609 98 C 37.399609 98 21.800781 82.300391 21.800781 62.900391 C 21.800781 43.500391 37.399609 27.699219 56.599609 27.699219 z M 56.699219 40.199219 C 47.199219 40.199219 38.7 46.300781 35.5 55.300781 C 35 56.600781 35.699609 58.199609 37.099609 58.599609 C 37.399609 58.699609 37.7 58.800781 38 58.800781 C 39.1 58.800781 40.1 58.1 40.5 57 C 42.9 50.1 49.499219 45.400391 56.699219 45.400391 C 58.099219 45.400391 59.300781 44.200781 59.300781 42.800781 C 59.300781 41.400781 58.099219 40.199219 56.699219 40.199219 z M 37.699219 64.900391 C 36.299219 64.900391 35.099609 66 35.099609 67.5 L 35.099609 67.900391 C 35.199609 69.300391 36.300781 70.5 37.800781 70.5 C 39.200781 70.5 40.400391 69.300391 40.400391 67.900391 L 40.400391 67.599609 C 40.400391 66.099609 39.300781 64.900391 37.800781 64.900391 L 37.699219 64.900391 z M 93.800781 96.599609 L 107.59961 110.59961 L 103.80078 114.40039 L 90 100.40039 L 93.800781 96.599609 z";
    -fx-background-color: -fx-text-color;
}

.home{
    -fx-shape: "M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9	C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52	C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z";
}

.settings{
    /*-fx-shape:"M 10.490234 2 C 10.011234 2 9.6017656 2.3385938 9.5097656 2.8085938 L 9.1757812 4.5234375 C 8.3550224 4.8338012 7.5961042 5.2674041 6.9296875 5.8144531 L 5.2851562 5.2480469 C 4.8321563 5.0920469 4.33375 5.2793594 4.09375 5.6933594 L 2.5859375 8.3066406 C 2.3469375 8.7216406 2.4339219 9.2485 2.7949219 9.5625 L 4.1132812 10.708984 C 4.0447181 11.130337 4 11.559284 4 12 C 4 12.440716 4.0447181 12.869663 4.1132812 13.291016 L 2.7949219 14.4375 C 2.4339219 14.7515 2.3469375 15.278359 2.5859375 15.693359 L 4.09375 18.306641 C 4.33275 18.721641 4.8321562 18.908906 5.2851562 18.753906 L 6.9296875 18.1875 C 7.5958842 18.734206 8.3553934 19.166339 9.1757812 19.476562 L 9.5097656 21.191406 C 9.6017656 21.661406 10.011234 22 10.490234 22 L 13.509766 22 C 13.988766 22 14.398234 21.661406 14.490234 21.191406 L 14.824219 19.476562 C 15.644978 19.166199 16.403896 18.732596 17.070312 18.185547 L 18.714844 18.751953 C 19.167844 18.907953 19.66625 18.721641 19.90625 18.306641 L 21.414062 15.691406 C 21.653063 15.276406 21.566078 14.7515 21.205078 14.4375 L 19.886719 13.291016 C 19.955282 12.869663 20 12.440716 20 12 C 20 11.559284 19.955282 11.130337 19.886719 10.708984 L 21.205078 9.5625 C 21.566078 9.2485 21.653063 8.7216406 21.414062 8.3066406 L 19.90625 5.6933594 C 19.66725 5.2783594 19.167844 5.0910937 18.714844 5.2460938 L 17.070312 5.8125 C 16.404116 5.2657937 15.644607 4.8336609 14.824219 4.5234375 L 14.490234 2.8085938 C 14.398234 2.3385937 13.988766 2 13.509766 2 L 10.490234 2 z M 12 8 C 14.209 8 16 9.791 16 12 C 16 14.209 14.209 16 12 16 C 9.791 16 8 14.209 8 12 C 8 9.791 9.791 8 12 8 z";*/
    -fx-shape: "M47.16,21.221l-5.91-0.966c-0.346-1.186-0.819-2.326-1.411-3.405l3.45-4.917c0.279-0.397,0.231-0.938-0.112-1.282 l-3.889-3.887c-0.347-0.346-0.893-0.391-1.291-0.104l-4.843,3.481c-1.089-0.602-2.239-1.08-3.432-1.427l-1.031-5.886 C28.607,2.35,28.192,2,27.706,2h-5.5c-0.49,0-0.908,0.355-0.987,0.839l-0.956,5.854c-1.2,0.345-2.352,0.818-3.437,1.412l-4.83-3.45 c-0.399-0.285-0.942-0.239-1.289,0.106L6.82,10.648c-0.343,0.343-0.391,0.883-0.112,1.28l3.399,4.863 c-0.605,1.095-1.087,2.254-1.438,3.46l-5.831,0.971c-0.482,0.08-0.836,0.498-0.836,0.986v5.5c0,0.485,0.348,0.9,0.825,0.985 l5.831,1.034c0.349,1.203,0.831,2.362,1.438,3.46l-3.441,4.813c-0.284,0.397-0.239,0.942,0.106,1.289l3.888,3.891 c0.343,0.343,0.884,0.391,1.281,0.112l4.87-3.411c1.093,0.601,2.248,1.078,3.445,1.424l0.976,5.861C21.3,47.647,21.717,48,22.206,48 h5.5c0.485,0,0.9-0.348,0.984-0.825l1.045-5.89c1.199-0.353,2.348-0.833,3.43-1.435l4.905,3.441 c0.398,0.281,0.938,0.232,1.282-0.111l3.888-3.891c0.346-0.347,0.391-0.894,0.104-1.292l-3.498-4.857 c0.593-1.08,1.064-2.222,1.407-3.408l5.918-1.039c0.479-0.084,0.827-0.5,0.827-0.985v-5.5C47.999,21.718,47.644,21.3,47.16,21.221z M25,32c-3.866,0-7-3.134-7-7c0-3.866,3.134-7,7-7s7,3.134,7,7C32,28.866,28.866,32,25,32z";
}

.account{
    -fx-shape: "M17 2A10 10 0 1017 22 10 10 0 1017 2zM23.745 37.942c.235-.812.673-1.553 1.269-2.147l5.972-5.973C30.906 27.703 29.28 26 27.278 26H5.722C3.67 26 2 27.785 2 29.979V31.5c0 3.281 1.696 6.132 4.776 8.027C9.367 41.122 12.82 42 16.5 42c2.149 0 4.348-.314 6.363-.955C23.093 40.22 23.381 39.212 23.745 37.942zM14.048 38.839l2.178-7.259L14.818 29h4.364l-1.408 2.581 2.134 7.113C18.79 38.895 17.637 39 16.5 39 15.685 39 14.861 38.943 14.048 38.839zM44.68 25.32c-.859-.86-1.987-1.322-3.181-1.32-.274.001-.552.025-.831.076-.884.159-1.729.62-2.442 1.334L26.427 37.209c-.357.357-.62.802-.76 1.285 0 0-1.569 5.48-1.569 5.48-.072.19-.105.391-.098.592.013.363.156.722.434 1 .277.277.634.42.996.434.201.007.404-.025.595-.098 0 0 5.48-1.569 5.48-1.569.483-.14.927-.402 1.285-.76l11.799-11.799c.714-.713 1.175-1.558 1.334-2.442.05-.279.075-.557.076-.831C46.002 27.307 45.541 26.179 44.68 25.32z";
}

.database{
    -fx-shape: "M 25 0 C 19.355469 0 14.230469 1.011719 10.4375 2.71875 C 8.542969 3.570313 6.980469 4.601563 5.84375 5.8125 C 4.707031 7.023438 4 8.457031 4 10 L 4 19.8125 C 3.992188 19.875 3.992188 19.9375 4 20 L 4 29.8125 C 3.992188 29.875 3.992188 29.9375 4 30 L 4 39 C 4 40.542969 4.707031 41.976563 5.84375 43.1875 C 6.980469 44.398438 8.542969 45.429688 10.4375 46.28125 C 14.230469 47.988281 19.355469 49 25 49 C 30.644531 49 35.769531 47.988281 39.5625 46.28125 C 41.457031 45.429688 43.019531 44.398438 44.15625 43.1875 C 45.292969 41.976563 46 40.542969 46 39 L 46 10 C 46 8.457031 45.292969 7.023438 44.15625 5.8125 C 43.019531 4.601563 41.457031 3.570313 39.5625 2.71875 C 35.769531 1.011719 30.644531 0 25 0 Z M 25 2 C 30.402344 2 35.273438 3.011719 38.71875 4.5625 C 40.441406 5.335938 41.800781 6.242188 42.6875 7.1875 C 43.574219 8.132813 44 9.058594 44 10 C 44 10.941406 43.574219 11.867188 42.6875 12.8125 C 41.800781 13.757813 40.441406 14.664063 38.71875 15.4375 C 35.273438 16.988281 30.402344 18 25 18 C 19.597656 18 14.726563 16.988281 11.28125 15.4375 C 9.558594 14.664063 8.199219 13.757813 7.3125 12.8125 C 6.425781 11.867188 6 10.941406 6 10 C 6 9.058594 6.425781 8.132813 7.3125 7.1875 C 8.199219 6.242188 9.558594 5.335938 11.28125 4.5625 C 14.726563 3.011719 19.597656 2 25 2 Z M 6 14.34375 C 7.121094 15.488281 8.621094 16.464844 10.4375 17.28125 C 14.230469 18.988281 19.355469 20 25 20 C 30.644531 20 35.769531 18.988281 39.5625 17.28125 C 41.378906 16.464844 42.878906 15.488281 44 14.34375 L 44 19.84375 C 44 19.875 44 19.90625 44 19.9375 L 44 20 C 44 20.941406 43.574219 21.867188 42.6875 22.8125 C 41.800781 23.757813 40.441406 24.664063 38.71875 25.4375 C 35.273438 26.988281 30.402344 28 25 28 C 19.597656 28 14.726563 26.988281 11.28125 25.4375 C 9.558594 24.664063 8.199219 23.757813 7.3125 22.8125 C 6.425781 21.867188 6 20.941406 6 20 C 6.007813 19.9375 6.007813 19.875 6 19.8125 Z M 6 24.34375 C 7.121094 25.488281 8.621094 26.464844 10.4375 27.28125 C 14.230469 28.988281 19.355469 30 25 30 C 30.644531 30 35.769531 28.988281 39.5625 27.28125 C 41.378906 26.464844 42.878906 25.488281 44 24.34375 L 44 29.84375 C 44 29.875 44 29.90625 44 29.9375 L 44 30 C 44 30.941406 43.574219 31.867188 42.6875 32.8125 C 41.800781 33.757813 40.441406 34.664063 38.71875 35.4375 C 35.273438 36.988281 30.402344 38 25 38 C 19.597656 38 14.726563 36.988281 11.28125 35.4375 C 9.558594 34.664063 8.199219 33.757813 7.3125 32.8125 C 6.425781 31.867188 6 30.941406 6 30 C 6.007813 29.9375 6.007813 29.875 6 29.8125 Z M 6 34.34375 C 7.121094 35.488281 8.621094 36.464844 10.4375 37.28125 C 14.230469 38.988281 19.355469 40 25 40 C 30.644531 40 35.769531 38.988281 39.5625 37.28125 C 41.378906 36.464844 42.878906 35.488281 44 34.34375 L 44 39 C 44 39.941406 43.574219 40.867188 42.6875 41.8125 C 41.800781 42.757813 40.441406 43.664063 38.71875 44.4375 C 35.273438 45.988281 30.402344 47 25 47 C 19.597656 47 14.726563 45.988281 11.28125 44.4375 C 9.558594 43.664063 8.199219 42.757813 7.3125 41.8125 C 6.425781 40.867188 6 39.941406 6 39 Z";
}

.analytics{
    -fx-shape: "M 14 1 C 6.8 1 1 6.8 1 14 L 1 28 C 1 29.7 2.3 31 4 31 L 111 31 C 112.7 31 114 29.7 114 28 C 114 26.3 112.7 25 111 25 L 7 25 L 7 14 C 7 10.1 10.1 7 14 7 L 114 7 C 117.9 7 121 10.1 121 14 L 121 114 C 121 117.9 117.9 121 114 121 L 39 121 C 37.3 121 36 122.3 36 124 C 36 125.7 37.3 127 39 127 L 114 127 C 121.2 127 127 121.2 127 114 L 127 14 C 127 6.8 121.2 1 114 1 L 14 1 z M 16 13 A 3 3 0 0 0 13 16 A 3 3 0 0 0 16 19 A 3 3 0 0 0 19 16 A 3 3 0 0 0 16 13 z M 26 13 A 3 3 0 0 0 23 16 A 3 3 0 0 0 26 19 A 3 3 0 0 0 29 16 A 3 3 0 0 0 26 13 z M 36 13 A 3 3 0 0 0 33 16 A 3 3 0 0 0 36 19 A 3 3 0 0 0 39 16 A 3 3 0 0 0 36 13 z M 4 38 C 2.3 38 1 39.3 1 41 L 1 89.099609 C 1 90.799609 2.3 92.099609 4 92.099609 C 5.7 92.099609 7 90.799609 7 89.099609 L 7 41 C 7 39.3 5.7 38 4 38 z M 100 41 C 93.9 41 89 45.9 89 52 C 89 55.3 90.500781 58.300781 92.800781 60.300781 L 79.800781 88.199219 C 79.200781 88.099219 78.6 88 78 88 C 75.7 88 73.600781 88.700391 71.800781 89.900391 L 56 76.5 C 56.6 75.1 57 73.6 57 72 C 57 65.9 52.1 61 46 61 C 39.9 61 35 65.9 35 72 C 35 74.4 35.799219 76.7 37.199219 78.5 L 16.099609 105.80078 C 14.799609 105.30078 13.5 105 12 105 C 5.9 105 1 109.9 1 116 C 1 122.1 5.9 127 12 127 C 18.1 127 23 122.1 23 116 C 23 113.6 22.200781 111.3 20.800781 109.5 L 41.900391 82.199219 C 43.200391 82.699219 44.5 83 46 83 C 48.3 83 50.399219 82.299609 52.199219 81.099609 L 68 94.5 C 67.4 95.9 67 97.4 67 99 C 67 105.1 71.9 110 78 110 C 84.1 110 89 105.1 89 99 C 89 95.7 87.499219 92.699219 85.199219 90.699219 L 98.199219 62.800781 C 98.799219 62.900781 99.4 63 100 63 C 106.1 63 111 58.1 111 52 C 111 45.9 106.1 41 100 41 z M 100 47 C 102.8 47 105 49.2 105 52 C 105 54.8 102.8 57 100 57 C 97.2 57 95 54.8 95 52 C 95 49.2 97.2 47 100 47 z M 46 67 C 48.8 67 51 69.2 51 72 C 51 74.8 48.8 77 46 77 C 43.2 77 41 74.8 41 72 C 41 69.2 43.2 67 46 67 z M 78 94 C 80.8 94 83 96.2 83 99 C 83 101.8 80.8 104 78 104 C 75.2 104 73 101.8 73 99 C 73 96.2 75.2 94 78 94 z M 12 111 C 14.8 111 17 113.2 17 116 C 17 118.8 14.8 121 12 121 C 9.2 121 7 118.8 7 116 C 7 113.2 9.2 111 12 111 z";
}

.order{
    -fx-shape:"M 33.5 11 C 26.3 11 20.5 16.8 20.5 24 L 20.5 104 C 20.5 111.2 26.3 117 33.5 117 L 94.5 117 C 101.7 117 107.5 111.2 107.5 104 L 107.5 24 C 107.5 16.8 101.7 11 94.5 11 L 33.5 11 z M 33.5 17 L 94.5 17 C 98.4 17 101.5 20.1 101.5 24 L 101.5 104 C 101.5 107.9 98.4 111 94.5 111 L 33.5 111 C 29.6 111 26.5 107.9 26.5 104 L 26.5 24 C 26.5 20.1 29.6 17 33.5 17 z M 40.5 33 C 38.8 33 37.5 34.3 37.5 36 C 37.5 37.7 38.8 39 40.5 39 L 85.5 39 C 87.2 39 88.5 37.7 88.5 36 C 88.5 34.3 87.2 33 85.5 33 L 40.5 33 z M 40.5 48 C 38.8 48 37.5 49.3 37.5 51 C 37.5 52.7 38.8 54 40.5 54 L 85.5 54 C 87.2 54 88.5 52.7 88.5 51 C 88.5 49.3 87.2 48 85.5 48 L 40.5 48 z M 40.5 63 C 38.8 63 37.5 64.3 37.5 66 C 37.5 67.7 38.8 69 40.5 69 L 61 69 C 62.7 69 64 67.7 64 66 C 64 64.3 62.7 63 61 63 L 40.5 63 z M 81 93.074219 C 80.225 93.074219 79.450391 93.350391 78.900391 93.900391 C 78.300391 94.400391 78 95.2 78 96 C 78 96.8 78.300391 97.599609 78.900391 98.099609 C 79.500391 98.699609 80.2 99 81 99 C 81.8 99 82.599609 98.699609 83.099609 98.099609 C 83.699609 97.499609 84 96.8 84 96 C 84 95.2 83.699609 94.400391 83.099609 93.900391 C 82.549609 93.350391 81.775 93.074219 81 93.074219 z";
}

.minimize{
    -fx-shape:"M 45.585938 1.585938 L 31 16.171875 L 31 9 L 27 9 L 27 23 L 41 23 L 41 19 L 33.828125 19 L 48.414063 4.414063 Z M 9 27 L 9 31 L 16.171875 31 L 1.585938 45.585938 L 4.414063 48.414063 L 19 33.828125 L 19 41 L 23 41 L 23 27 Z";
}

.add-invoice{
    -fx-shape:"M 12.5 4 C 10.019 4 8 6.019 8 8.5 L 8 39.5 C 8 41.981 10.019 44 12.5 44 L 25.632812 44 C 24.777812 43.111 24.050609 42.103 23.474609 41 L 12.5 41 C 11.673 41 11 40.327 11 39.5 L 11 8.5 C 11 7.673 11.673 7 12.5 7 L 24 7 L 24 15.5 C 24 17.981 26.019 20 28.5 20 L 37 20 L 37 22.169922 C 38.045 22.331922 39.053 22.603047 40 22.998047 L 40 18.498047 C 40 18.084047 39.832047 17.710953 39.560547 17.439453 L 26.560547 4.4394531 C 26.289047 4.1680781 25.914 4 25.5 4 L 12.5 4 z M 27 9.1210938 L 34.876953 16.998047 L 28.5 16.998047 C 27.673 16.998047 27 16.325047 27 15.498047 L 27 9.1210938 z M 35 24 C 28.925 24 24 28.925 24 35 C 24 41.075 28.925 46 35 46 C 41.075 46 46 41.075 46 35 C 46 28.925 41.075 24 35 24 z M 17.5 25 C 16.672 25 16 25.672 16 26.5 C 16 27.328 16.672 28 17.5 28 L 24.056641 28 C 24.780641 26.87 25.667312 25.855 26.695312 25 L 17.5 25 z M 35 27 C 35.552 27 36 27.448 36 28 L 36 34 L 42 34 C 42.552 34 43 34.448 43 35 C 43 35.552 42.552 36 42 36 L 36 36 L 36 42 C 36 42.552 35.552 43 35 43 C 34.448 43 34 42.552 34 42 L 34 36 L 28 36 C 27.448 36 27 35.552 27 35 C 27 34.448 27.448 34 28 34 L 34 34 L 34 28 C 34 27.448 34.448 27 35 27 z M 17.5 32 C 16.672 32 16 32.672 16 33.5 C 16 34.328 16.672 35 17.5 35 L 22 35 C 22 33.966 22.133328 32.965 22.361328 32 L 17.5 32 z";
}

.sun{
    -fx-shape:"M 24.90625 3.96875 C 24.863281 3.976563 24.820313 3.988281 24.78125 4 C 24.316406 4.105469 23.988281 4.523438 24 5 L 24 11 C 23.996094 11.359375 24.183594 11.695313 24.496094 11.878906 C 24.808594 12.058594 25.191406 12.058594 25.503906 11.878906 C 25.816406 11.695313 26.003906 11.359375 26 11 L 26 5 C 26.011719 4.710938 25.894531 4.433594 25.6875 4.238281 C 25.476563 4.039063 25.191406 3.941406 24.90625 3.96875 Z M 10.65625 9.84375 C 10.28125 9.910156 9.980469 10.183594 9.875 10.546875 C 9.769531 10.914063 9.878906 11.304688 10.15625 11.5625 L 14.40625 15.8125 C 14.648438 16.109375 15.035156 16.246094 15.410156 16.160156 C 15.78125 16.074219 16.074219 15.78125 16.160156 15.410156 C 16.246094 15.035156 16.109375 14.648438 15.8125 14.40625 L 11.5625 10.15625 C 11.355469 9.933594 11.054688 9.820313 10.75 9.84375 C 10.71875 9.84375 10.6875 9.84375 10.65625 9.84375 Z M 39.03125 9.84375 C 38.804688 9.875 38.59375 9.988281 38.4375 10.15625 L 34.1875 14.40625 C 33.890625 14.648438 33.753906 15.035156 33.839844 15.410156 C 33.925781 15.78125 34.21875 16.074219 34.589844 16.160156 C 34.964844 16.246094 35.351563 16.109375 35.59375 15.8125 L 39.84375 11.5625 C 40.15625 11.265625 40.246094 10.800781 40.0625 10.410156 C 39.875 10.015625 39.460938 9.789063 39.03125 9.84375 Z M 24.90625 15 C 24.875 15.007813 24.84375 15.019531 24.8125 15.03125 C 24.75 15.035156 24.6875 15.046875 24.625 15.0625 C 24.613281 15.074219 24.605469 15.082031 24.59375 15.09375 C 19.289063 15.320313 15 19.640625 15 25 C 15 30.503906 19.496094 35 25 35 C 30.503906 35 35 30.503906 35 25 C 35 19.660156 30.746094 15.355469 25.46875 15.09375 C 25.433594 15.09375 25.410156 15.0625 25.375 15.0625 C 25.273438 15.023438 25.167969 15.003906 25.0625 15 C 25.042969 15 25.019531 15 25 15 C 24.96875 15 24.9375 15 24.90625 15 Z M 24.9375 17 C 24.957031 17 24.980469 17 25 17 C 25.03125 17 25.0625 17 25.09375 17 C 29.46875 17.050781 33 20.613281 33 25 C 33 29.421875 29.421875 33 25 33 C 20.582031 33 17 29.421875 17 25 C 17 20.601563 20.546875 17.035156 24.9375 17 Z M 4.71875 24 C 4.167969 24.078125 3.78125 24.589844 3.859375 25.140625 C 3.9375 25.691406 4.449219 26.078125 5 26 L 11 26 C 11.359375 26.003906 11.695313 25.816406 11.878906 25.503906 C 12.058594 25.191406 12.058594 24.808594 11.878906 24.496094 C 11.695313 24.183594 11.359375 23.996094 11 24 L 5 24 C 4.96875 24 4.9375 24 4.90625 24 C 4.875 24 4.84375 24 4.8125 24 C 4.78125 24 4.75 24 4.71875 24 Z M 38.71875 24 C 38.167969 24.078125 37.78125 24.589844 37.859375 25.140625 C 37.9375 25.691406 38.449219 26.078125 39 26 L 45 26 C 45.359375 26.003906 45.695313 25.816406 45.878906 25.503906 C 46.058594 25.191406 46.058594 24.808594 45.878906 24.496094 C 45.695313 24.183594 45.359375 23.996094 45 24 L 39 24 C 38.96875 24 38.9375 24 38.90625 24 C 38.875 24 38.84375 24 38.8125 24 C 38.78125 24 38.75 24 38.71875 24 Z M 15 33.875 C 14.773438 33.90625 14.5625 34.019531 14.40625 34.1875 L 10.15625 38.4375 C 9.859375 38.679688 9.722656 39.066406 9.808594 39.441406 C 9.894531 39.8125 10.1875 40.105469 10.558594 40.191406 C 10.933594 40.277344 11.320313 40.140625 11.5625 39.84375 L 15.8125 35.59375 C 16.109375 35.308594 16.199219 34.867188 16.039063 34.488281 C 15.882813 34.109375 15.503906 33.867188 15.09375 33.875 C 15.0625 33.875 15.03125 33.875 15 33.875 Z M 34.6875 33.875 C 34.3125 33.941406 34.011719 34.214844 33.90625 34.578125 C 33.800781 34.945313 33.910156 35.335938 34.1875 35.59375 L 38.4375 39.84375 C 38.679688 40.140625 39.066406 40.277344 39.441406 40.191406 C 39.8125 40.105469 40.105469 39.8125 40.191406 39.441406 C 40.277344 39.066406 40.140625 38.679688 39.84375 38.4375 L 35.59375 34.1875 C 35.40625 33.988281 35.148438 33.878906 34.875 33.875 C 34.84375 33.875 34.8125 33.875 34.78125 33.875 C 34.75 33.875 34.71875 33.875 34.6875 33.875 Z M 24.90625 37.96875 C 24.863281 37.976563 24.820313 37.988281 24.78125 38 C 24.316406 38.105469 23.988281 38.523438 24 39 L 24 45 C 23.996094 45.359375 24.183594 45.695313 24.496094 45.878906 C 24.808594 46.058594 25.191406 46.058594 25.503906 45.878906 C 25.816406 45.695313 26.003906 45.359375 26 45 L 26 39 C 26.011719 38.710938 25.894531 38.433594 25.6875 38.238281 C 25.476563 38.039063 25.191406 37.941406 24.90625 37.96875 Z";
}

.moon{
    -fx-shape:"M 15.90625 5.96875 C 15.863281 5.976563 15.820313 5.988281 15.78125 6 C 15.316406 6.105469 14.988281 6.523438 15 7 L 15 8 L 14 8 C 13.96875 8 13.9375 8 13.90625 8 C 13.355469 8.027344 12.925781 8.496094 12.953125 9.046875 C 12.980469 9.597656 13.449219 10.027344 14 10 L 15 10 L 15 11 C 14.996094 11.359375 15.183594 11.695313 15.496094 11.878906 C 15.808594 12.058594 16.191406 12.058594 16.503906 11.878906 C 16.816406 11.695313 17.003906 11.359375 17 11 L 17 10 L 18 10 C 18.359375 10.003906 18.695313 9.816406 18.878906 9.503906 C 19.058594 9.191406 19.058594 8.808594 18.878906 8.496094 C 18.695313 8.183594 18.359375 7.996094 18 8 L 17 8 L 17 7 C 17.011719 6.710938 16.894531 6.433594 16.6875 6.238281 C 16.476563 6.039063 16.191406 5.941406 15.90625 5.96875 Z M 28.3125 12.96875 L 27 13.15625 C 20.21875 14.125 15 19.957031 15 27 C 15 34.71875 21.28125 41 29 41 C 36.042969 41 41.871094 35.78125 42.84375 29 L 43.03125 27.6875 L 41.71875 27.875 C 41.136719 27.957031 40.566406 28 40 28 C 33.359375 28 28 22.640625 28 16 C 28 15.433594 28.042969 14.863281 28.125 14.28125 Z M 26.03125 15.53125 C 26.023438 15.691406 26 15.835938 26 16 C 26 23.71875 32.28125 30 40 30 C 40.164063 30 40.308594 29.976563 40.46875 29.96875 C 39.128906 35.132813 34.589844 39 29 39 C 22.359375 39 17 33.640625 17 27 C 17 21.410156 20.867188 16.867188 26.03125 15.53125 Z M 7.90625 17.96875 C 7.863281 17.976563 7.820313 17.988281 7.78125 18 C 7.316406 18.105469 6.988281 18.523438 7 19 C 6.96875 19 6.9375 19 6.90625 19 C 6.355469 19.027344 5.925781 19.496094 5.953125 20.046875 C 5.980469 20.597656 6.449219 21.027344 7 21 C 6.996094 21.359375 7.183594 21.695313 7.496094 21.878906 C 7.808594 22.058594 8.191406 22.058594 8.503906 21.878906 C 8.816406 21.695313 9.003906 21.359375 9 21 C 9.359375 21.003906 9.695313 20.816406 9.878906 20.503906 C 10.058594 20.191406 10.058594 19.808594 9.878906 19.496094 C 9.695313 19.183594 9.359375 18.996094 9 19 C 9.011719 18.710938 8.894531 18.433594 8.6875 18.238281 C 8.476563 18.039063 8.191406 17.941406 7.90625 17.96875 Z";
}

.delete{
    -fx-shape: "M 21 2 C 19.355469 2 18 3.355469 18 5 L 18 7 L 10.15625 7 C 10.097656 6.992188 10.042969 6.984375 9.984375 6.984375 C 9.9375 6.988281 9.886719 6.992188 9.839844 7 L 8 7 C 7.640625 6.996094 7.304688 7.183594 7.121094 7.496094 C 6.941406 7.808594 6.941406 8.191406 7.121094 8.503906 C 7.304688 8.816406 7.640625 9.003906 8 9 L 9 9 L 9 45 C 9 46.644531 10.355469 48 12 48 L 38 48 C 39.644531 48 41 46.644531 41 45 L 41 9 L 42 9 C 42.359375 9.003906 42.695313 8.816406 42.878906 8.503906 C 43.058594 8.191406 43.058594 7.808594 42.878906 7.496094 C 42.695313 7.183594 42.359375 6.996094 42 7 L 40.167969 7 C 40.058594 6.980469 39.949219 6.980469 39.84375 7 L 32 7 L 32 5 C 32 3.355469 30.644531 2 29 2 Z M 21 4 L 29 4 C 29.554688 4 30 4.445313 30 5 L 30 7 L 20 7 L 20 5 C 20 4.445313 20.445313 4 21 4 Z M 11 9 L 18.832031 9 C 18.941406 9.019531 19.050781 9.019531 19.15625 9 L 30.832031 9 C 30.941406 9.019531 31.050781 9.019531 31.15625 9 L 39 9 L 39 45 C 39 45.554688 38.554688 46 38 46 L 12 46 C 11.445313 46 11 45.554688 11 45 Z M 17.988281 19.988281 C 17.582031 19.992188 17.21875 20.238281 17.0625 20.613281 C 16.910156 20.992188 17 21.421875 17.292969 21.707031 L 23.585938 28 L 17.292969 34.292969 C 17.03125 34.542969 16.925781 34.917969 17.019531 35.265625 C 17.109375 35.617188 17.382813 35.890625 17.734375 35.980469 C 18.082031 36.074219 18.457031 35.96875 18.707031 35.707031 L 25 29.414063 L 31.292969 35.707031 C 31.542969 35.96875 31.917969 36.074219 32.265625 35.980469 C 32.617188 35.890625 32.890625 35.617188 32.980469 35.265625 C 33.074219 34.917969 32.96875 34.542969 32.707031 34.292969 L 26.414063 28 L 32.707031 21.707031 C 33.003906 21.417969 33.089844 20.980469 32.929688 20.601563 C 32.769531 20.21875 32.394531 19.976563 31.980469 19.988281 C 31.71875 19.996094 31.472656 20.105469 31.292969 20.292969 L 25 26.585938 L 18.707031 20.292969 C 18.519531 20.097656 18.261719 19.992188 17.988281 19.988281 Z";
}