.root{
    -fx-font-family: "Segoe UI", SansSerif, Calibri;
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-text-background-color: black;
}

.root.popup{
    -fx-box-border: none;
}


/*Menu Bar*/

#menu-bar{
    -fx-background-color: #2C3531;
    -fx-fill: #2C3531;
}

.menu-button{
    -fx-background-color: #cecece;
}

.menu-button-selected{
    -fx-background-color: #116466 !important;
}

.menu-button-pane{
    -fx-background-color: #2C3531;
    -fx-background-insets: 0, 0 3 0 0 ;
    -fx-padding: 4px;
}

.menu-button-pane:hover{
    -fx-background-color: #116466, #2C3531;
}

.menu-button-pane-selected{
    -fx-background-color: #116466, #2C3531;
}


/*Menu Bar*/

/*OptionPane*/
.option-pane{
    -fx-background-color: #116466;
}

.option-pane .headings{
    -fx-font-size: 28px;
    -fx-text-fill: #CECECE;
}

.option-button{
    -fx-font-size: 18px;
    -fx-text-fill: #CECECE;
    -fx-background-color: #116466 !important;
}

.option-button:hover{
    -fx-background-color: #FFCB9A !important;
    -fx-text-fill: #2C3531;
}

/*OptionPane*/
/*Edit Org Details*/
.edit-org-details{
    /*-fx-background-image: url("controller/background1.png");*/
}

.edit-org-details .labels{
    -fx-font-size: 16px;
    -fx-text-fill: #2C3531;
    -fx-padding: 4px;
}

.edit-org-details .text-fields{
    -fx-font-size: 16px;
    -fx-text-fill: #2C3531;
    -fx-padding: 3px;
}

.edit-org-details .buttons{
    -fx-font-size: 16px;
    -fx-text-fill: #2C3531;
    -fx-padding: 2px;
    -fx-background-color: #D1E8E2;
}


/*Edit Org Details*/
/*Setup Database*/

.setup-database .buttons{
    -fx-text-fill: #2C3531;
    -fx-padding: 2px;
    -fx-background-color: #D1E8E2;
}

/*Setup Database*/
/* Controls */



/* Table View*/
.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler,
.table-view .corner{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #fefefe);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 0;
}
.table-row-cell :hover {
    -fx-background-color: derive(#eee, 50%);
}
.table-row-cell :odd{
    -fx-background-color: #ffffff55, #ffffff88;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-row-cell :even{
    -fx-background-color: #fefefe66, #fefefe99;
    -fx-background-insets: 0, 0 0 1 0;
}

/* Colors */

.black{
    -fx-background-color: black;
}

.dark-grey{
    -fx-background-color: #666;
}

.red{
    -fx-background-color: red;
    -fx-text-fill: #fff;
}

.green{
    -fx-background-color: #229944;
    -fx-text-fill: #fff;
}

.blue{
    -fx-background-color: #2266aa;
    -fx-text-fill: #fff;
}

/*Error*/
.text-field-error{
    -fx-background-color: #ff000077;
}

/* Alignment */

.center{
    -fx-text-alignment: center;
}

.right{
    -fx-text-alignment: right;
}

.left{
    -fx-text-alignment: left;
}


/* SVG */

.cross{
    -fx-shape: "M285,256l72.5-84.2c7.9-9.2,6.9-23-2.3-31c-9.2-7.9-23-6.9-30.9,2.3L256,222.4l-68.2-79.2c-7.9-9.2-21.8-10.2-31-2.3c-9.2,7.9-10.2,21.8-2.3,31L227,256l-72.5,84.2c-7.9,9.2-6.9,23,2.3,31c4.1,3.6,9.2,5.3,14.3,5.3c6.2,0,12.3-2.6,16.6-7.6l68.2-79.2l68.2,79.2c4.3,5,10.5,7.6,16.6,7.6c5.1,0,10.2-1.7,14.3-5.3c9.2-7.9,10.2-21.8,2.3-31L285,256z";
}

.refresh{
    -fx-shape: "M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z";
}

.search{
    -fx-shape: "M 56.599609 21.599609 C 34.099609 21.599609 15.800781 40.100781 15.800781 62.800781 C 15.800781 85.600781 34.099609 104 56.599609 104 C 66.899609 104 76.3 100.09922 83.5 93.699219 L 85.800781 96 L 83.699219 98.199219 C 82.499219 99.399219 82.499219 101.3 83.699219 102.5 L 101.69922 120.69922 C 102.29922 121.29922 103.00078 121.59961 103.80078 121.59961 C 104.60078 121.59961 105.40039 121.29922 105.90039 120.69922 L 113.90039 112.59961 C 115.00039 111.39961 115.00078 109.50039 113.80078 108.40039 L 95.800781 90.199219 C 95.200781 89.599219 94.499219 89.300781 93.699219 89.300781 C 92.899219 89.300781 92.099609 89.599219 91.599609 90.199219 L 89.5 92.400391 L 87.199219 90 C 93.499219 82.7 97.400391 73.200781 97.400391 62.800781 C 97.400391 40.100781 79.099609 21.599609 56.599609 21.599609 z M 56.599609 27.699219 C 75.799609 27.699219 91.400391 43.500391 91.400391 62.900391 C 91.400391 82.300391 75.799609 98 56.599609 98 C 37.399609 98 21.800781 82.300391 21.800781 62.900391 C 21.800781 43.500391 37.399609 27.699219 56.599609 27.699219 z M 56.699219 40.199219 C 47.199219 40.199219 38.7 46.300781 35.5 55.300781 C 35 56.600781 35.699609 58.199609 37.099609 58.599609 C 37.399609 58.699609 37.7 58.800781 38 58.800781 C 39.1 58.800781 40.1 58.1 40.5 57 C 42.9 50.1 49.499219 45.400391 56.699219 45.400391 C 58.099219 45.400391 59.300781 44.200781 59.300781 42.800781 C 59.300781 41.400781 58.099219 40.199219 56.699219 40.199219 z M 37.699219 64.900391 C 36.299219 64.900391 35.099609 66 35.099609 67.5 L 35.099609 67.900391 C 35.199609 69.300391 36.300781 70.5 37.800781 70.5 C 39.200781 70.5 40.400391 69.300391 40.400391 67.900391 L 40.400391 67.599609 C 40.400391 66.099609 39.300781 64.900391 37.800781 64.900391 L 37.699219 64.900391 z M 93.800781 96.599609 L 107.59961 110.59961 L 103.80078 114.40039 L 90 100.40039 L 93.800781 96.599609 z";
}

.home{
    -fx-shape: "M39.5,43h-9c-1.381,0-2.5-1.119-2.5-2.5v-9c0-1.105-0.895-2-2-2h-4c-1.105,0-2,0.895-2,2v9c0,1.381-1.119,2.5-2.5,2.5h-9	C7.119,43,6,41.881,6,40.5V21.413c0-2.299,1.054-4.471,2.859-5.893L23.071,4.321c0.545-0.428,1.313-0.428,1.857,0L39.142,15.52	C40.947,16.942,42,19.113,42,21.411V40.5C42,41.881,40.881,43,39.5,43z";
}

.settings{
    -fx-shape:"M 10.490234 2 C 10.011234 2 9.6017656 2.3385938 9.5097656 2.8085938 L 9.1757812 4.5234375 C 8.3550224 4.8338012 7.5961042 5.2674041 6.9296875 5.8144531 L 5.2851562 5.2480469 C 4.8321563 5.0920469 4.33375 5.2793594 4.09375 5.6933594 L 2.5859375 8.3066406 C 2.3469375 8.7216406 2.4339219 9.2485 2.7949219 9.5625 L 4.1132812 10.708984 C 4.0447181 11.130337 4 11.559284 4 12 C 4 12.440716 4.0447181 12.869663 4.1132812 13.291016 L 2.7949219 14.4375 C 2.4339219 14.7515 2.3469375 15.278359 2.5859375 15.693359 L 4.09375 18.306641 C 4.33275 18.721641 4.8321562 18.908906 5.2851562 18.753906 L 6.9296875 18.1875 C 7.5958842 18.734206 8.3553934 19.166339 9.1757812 19.476562 L 9.5097656 21.191406 C 9.6017656 21.661406 10.011234 22 10.490234 22 L 13.509766 22 C 13.988766 22 14.398234 21.661406 14.490234 21.191406 L 14.824219 19.476562 C 15.644978 19.166199 16.403896 18.732596 17.070312 18.185547 L 18.714844 18.751953 C 19.167844 18.907953 19.66625 18.721641 19.90625 18.306641 L 21.414062 15.691406 C 21.653063 15.276406 21.566078 14.7515 21.205078 14.4375 L 19.886719 13.291016 C 19.955282 12.869663 20 12.440716 20 12 C 20 11.559284 19.955282 11.130337 19.886719 10.708984 L 21.205078 9.5625 C 21.566078 9.2485 21.653063 8.7216406 21.414062 8.3066406 L 19.90625 5.6933594 C 19.66725 5.2783594 19.167844 5.0910937 18.714844 5.2460938 L 17.070312 5.8125 C 16.404116 5.2657937 15.644607 4.8336609 14.824219 4.5234375 L 14.490234 2.8085938 C 14.398234 2.3385937 13.988766 2 13.509766 2 L 10.490234 2 z M 12 8 C 14.209 8 16 9.791 16 12 C 16 14.209 14.209 16 12 16 C 9.791 16 8 14.209 8 12 C 8 9.791 9.791 8 12 8 z";
}

.account{
    -fx-shape: "M17 2A10 10 0 1017 22 10 10 0 1017 2zM23.745 37.942c.235-.812.673-1.553 1.269-2.147l5.972-5.973C30.906 27.703 29.28 26 27.278 26H5.722C3.67 26 2 27.785 2 29.979V31.5c0 3.281 1.696 6.132 4.776 8.027C9.367 41.122 12.82 42 16.5 42c2.149 0 4.348-.314 6.363-.955C23.093 40.22 23.381 39.212 23.745 37.942zM14.048 38.839l2.178-7.259L14.818 29h4.364l-1.408 2.581 2.134 7.113C18.79 38.895 17.637 39 16.5 39 15.685 39 14.861 38.943 14.048 38.839zM44.68 25.32c-.859-.86-1.987-1.322-3.181-1.32-.274.001-.552.025-.831.076-.884.159-1.729.62-2.442 1.334L26.427 37.209c-.357.357-.62.802-.76 1.285 0 0-1.569 5.48-1.569 5.48-.072.19-.105.391-.098.592.013.363.156.722.434 1 .277.277.634.42.996.434.201.007.404-.025.595-.098 0 0 5.48-1.569 5.48-1.569.483-.14.927-.402 1.285-.76l11.799-11.799c.714-.713 1.175-1.558 1.334-2.442.05-.279.075-.557.076-.831C46.002 27.307 45.541 26.179 44.68 25.32z";
}

.database{
    -fx-shape: "M 25 0 C 19.355469 0 14.230469 1.011719 10.4375 2.71875 C 8.542969 3.570313 6.980469 4.601563 5.84375 5.8125 C 4.707031 7.023438 4 8.457031 4 10 L 4 19.8125 C 3.992188 19.875 3.992188 19.9375 4 20 L 4 29.8125 C 3.992188 29.875 3.992188 29.9375 4 30 L 4 39 C 4 40.542969 4.707031 41.976563 5.84375 43.1875 C 6.980469 44.398438 8.542969 45.429688 10.4375 46.28125 C 14.230469 47.988281 19.355469 49 25 49 C 30.644531 49 35.769531 47.988281 39.5625 46.28125 C 41.457031 45.429688 43.019531 44.398438 44.15625 43.1875 C 45.292969 41.976563 46 40.542969 46 39 L 46 10 C 46 8.457031 45.292969 7.023438 44.15625 5.8125 C 43.019531 4.601563 41.457031 3.570313 39.5625 2.71875 C 35.769531 1.011719 30.644531 0 25 0 Z M 25 2 C 30.402344 2 35.273438 3.011719 38.71875 4.5625 C 40.441406 5.335938 41.800781 6.242188 42.6875 7.1875 C 43.574219 8.132813 44 9.058594 44 10 C 44 10.941406 43.574219 11.867188 42.6875 12.8125 C 41.800781 13.757813 40.441406 14.664063 38.71875 15.4375 C 35.273438 16.988281 30.402344 18 25 18 C 19.597656 18 14.726563 16.988281 11.28125 15.4375 C 9.558594 14.664063 8.199219 13.757813 7.3125 12.8125 C 6.425781 11.867188 6 10.941406 6 10 C 6 9.058594 6.425781 8.132813 7.3125 7.1875 C 8.199219 6.242188 9.558594 5.335938 11.28125 4.5625 C 14.726563 3.011719 19.597656 2 25 2 Z M 6 14.34375 C 7.121094 15.488281 8.621094 16.464844 10.4375 17.28125 C 14.230469 18.988281 19.355469 20 25 20 C 30.644531 20 35.769531 18.988281 39.5625 17.28125 C 41.378906 16.464844 42.878906 15.488281 44 14.34375 L 44 19.84375 C 44 19.875 44 19.90625 44 19.9375 L 44 20 C 44 20.941406 43.574219 21.867188 42.6875 22.8125 C 41.800781 23.757813 40.441406 24.664063 38.71875 25.4375 C 35.273438 26.988281 30.402344 28 25 28 C 19.597656 28 14.726563 26.988281 11.28125 25.4375 C 9.558594 24.664063 8.199219 23.757813 7.3125 22.8125 C 6.425781 21.867188 6 20.941406 6 20 C 6.007813 19.9375 6.007813 19.875 6 19.8125 Z M 6 24.34375 C 7.121094 25.488281 8.621094 26.464844 10.4375 27.28125 C 14.230469 28.988281 19.355469 30 25 30 C 30.644531 30 35.769531 28.988281 39.5625 27.28125 C 41.378906 26.464844 42.878906 25.488281 44 24.34375 L 44 29.84375 C 44 29.875 44 29.90625 44 29.9375 L 44 30 C 44 30.941406 43.574219 31.867188 42.6875 32.8125 C 41.800781 33.757813 40.441406 34.664063 38.71875 35.4375 C 35.273438 36.988281 30.402344 38 25 38 C 19.597656 38 14.726563 36.988281 11.28125 35.4375 C 9.558594 34.664063 8.199219 33.757813 7.3125 32.8125 C 6.425781 31.867188 6 30.941406 6 30 C 6.007813 29.9375 6.007813 29.875 6 29.8125 Z M 6 34.34375 C 7.121094 35.488281 8.621094 36.464844 10.4375 37.28125 C 14.230469 38.988281 19.355469 40 25 40 C 30.644531 40 35.769531 38.988281 39.5625 37.28125 C 41.378906 36.464844 42.878906 35.488281 44 34.34375 L 44 39 C 44 39.941406 43.574219 40.867188 42.6875 41.8125 C 41.800781 42.757813 40.441406 43.664063 38.71875 44.4375 C 35.273438 45.988281 30.402344 47 25 47 C 19.597656 47 14.726563 45.988281 11.28125 44.4375 C 9.558594 43.664063 8.199219 42.757813 7.3125 41.8125 C 6.425781 40.867188 6 39.941406 6 39 Z";
}

.analytics{
    -fx-shape: "M 14 1 C 6.8 1 1 6.8 1 14 L 1 28 C 1 29.7 2.3 31 4 31 L 111 31 C 112.7 31 114 29.7 114 28 C 114 26.3 112.7 25 111 25 L 7 25 L 7 14 C 7 10.1 10.1 7 14 7 L 114 7 C 117.9 7 121 10.1 121 14 L 121 114 C 121 117.9 117.9 121 114 121 L 39 121 C 37.3 121 36 122.3 36 124 C 36 125.7 37.3 127 39 127 L 114 127 C 121.2 127 127 121.2 127 114 L 127 14 C 127 6.8 121.2 1 114 1 L 14 1 z M 16 13 A 3 3 0 0 0 13 16 A 3 3 0 0 0 16 19 A 3 3 0 0 0 19 16 A 3 3 0 0 0 16 13 z M 26 13 A 3 3 0 0 0 23 16 A 3 3 0 0 0 26 19 A 3 3 0 0 0 29 16 A 3 3 0 0 0 26 13 z M 36 13 A 3 3 0 0 0 33 16 A 3 3 0 0 0 36 19 A 3 3 0 0 0 39 16 A 3 3 0 0 0 36 13 z M 4 38 C 2.3 38 1 39.3 1 41 L 1 89.099609 C 1 90.799609 2.3 92.099609 4 92.099609 C 5.7 92.099609 7 90.799609 7 89.099609 L 7 41 C 7 39.3 5.7 38 4 38 z M 100 41 C 93.9 41 89 45.9 89 52 C 89 55.3 90.500781 58.300781 92.800781 60.300781 L 79.800781 88.199219 C 79.200781 88.099219 78.6 88 78 88 C 75.7 88 73.600781 88.700391 71.800781 89.900391 L 56 76.5 C 56.6 75.1 57 73.6 57 72 C 57 65.9 52.1 61 46 61 C 39.9 61 35 65.9 35 72 C 35 74.4 35.799219 76.7 37.199219 78.5 L 16.099609 105.80078 C 14.799609 105.30078 13.5 105 12 105 C 5.9 105 1 109.9 1 116 C 1 122.1 5.9 127 12 127 C 18.1 127 23 122.1 23 116 C 23 113.6 22.200781 111.3 20.800781 109.5 L 41.900391 82.199219 C 43.200391 82.699219 44.5 83 46 83 C 48.3 83 50.399219 82.299609 52.199219 81.099609 L 68 94.5 C 67.4 95.9 67 97.4 67 99 C 67 105.1 71.9 110 78 110 C 84.1 110 89 105.1 89 99 C 89 95.7 87.499219 92.699219 85.199219 90.699219 L 98.199219 62.800781 C 98.799219 62.900781 99.4 63 100 63 C 106.1 63 111 58.1 111 52 C 111 45.9 106.1 41 100 41 z M 100 47 C 102.8 47 105 49.2 105 52 C 105 54.8 102.8 57 100 57 C 97.2 57 95 54.8 95 52 C 95 49.2 97.2 47 100 47 z M 46 67 C 48.8 67 51 69.2 51 72 C 51 74.8 48.8 77 46 77 C 43.2 77 41 74.8 41 72 C 41 69.2 43.2 67 46 67 z M 78 94 C 80.8 94 83 96.2 83 99 C 83 101.8 80.8 104 78 104 C 75.2 104 73 101.8 73 99 C 73 96.2 75.2 94 78 94 z M 12 111 C 14.8 111 17 113.2 17 116 C 17 118.8 14.8 121 12 121 C 9.2 121 7 118.8 7 116 C 7 113.2 9.2 111 12 111 z";
}

.order{
    -fx-shape:"M 33.5 11 C 26.3 11 20.5 16.8 20.5 24 L 20.5 104 C 20.5 111.2 26.3 117 33.5 117 L 94.5 117 C 101.7 117 107.5 111.2 107.5 104 L 107.5 24 C 107.5 16.8 101.7 11 94.5 11 L 33.5 11 z M 33.5 17 L 94.5 17 C 98.4 17 101.5 20.1 101.5 24 L 101.5 104 C 101.5 107.9 98.4 111 94.5 111 L 33.5 111 C 29.6 111 26.5 107.9 26.5 104 L 26.5 24 C 26.5 20.1 29.6 17 33.5 17 z M 40.5 33 C 38.8 33 37.5 34.3 37.5 36 C 37.5 37.7 38.8 39 40.5 39 L 85.5 39 C 87.2 39 88.5 37.7 88.5 36 C 88.5 34.3 87.2 33 85.5 33 L 40.5 33 z M 40.5 48 C 38.8 48 37.5 49.3 37.5 51 C 37.5 52.7 38.8 54 40.5 54 L 85.5 54 C 87.2 54 88.5 52.7 88.5 51 C 88.5 49.3 87.2 48 85.5 48 L 40.5 48 z M 40.5 63 C 38.8 63 37.5 64.3 37.5 66 C 37.5 67.7 38.8 69 40.5 69 L 61 69 C 62.7 69 64 67.7 64 66 C 64 64.3 62.7 63 61 63 L 40.5 63 z M 81 93.074219 C 80.225 93.074219 79.450391 93.350391 78.900391 93.900391 C 78.300391 94.400391 78 95.2 78 96 C 78 96.8 78.300391 97.599609 78.900391 98.099609 C 79.500391 98.699609 80.2 99 81 99 C 81.8 99 82.599609 98.699609 83.099609 98.099609 C 83.699609 97.499609 84 96.8 84 96 C 84 95.2 83.699609 94.400391 83.099609 93.900391 C 82.549609 93.350391 81.775 93.074219 81 93.074219 z";
}