
.input-headings{
    -fx-padding: 8px 4px 8px 4px;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-alignment: center;
    -fx-text-fill: #222;
}

.input-field{
    -fx-padding: 4px 4px 4px 4px;
    -fx-background-color: #bbb , #ddd;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: #222;
    /*-fx-display-caret: false;*/
    -fx-background-radius: 4px;
    -fx-background-insets: 0, 0 0 1 0 ;
}

.input-choice-box{
    -fx-background-color: #bbb , #ddd;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: #222;
    /*-fx-display-caret: false;*/
    -fx-background-radius: 4px;
    -fx-background-insets: 0, 0 0 1 0 ;
}


.table-view{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: #222;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(to right, #ddd, #ccc);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    /*-fx-font-weight: bold;*/
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .table-headings{

}

.table-view .right{
    -fx-alignment: CENTER-RIGHT;
}

.table-view .center{
    -fx-alignment: CENTER;
}
.table-view:focused{
   -fx-background-color: #eee;
}

#create-button{
    -fx-padding: 4px 4px 4px 4px;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-background-radius: 4px;
    -fx-background-color: #008800, #00aa00;
    -fx-background-insets: 0, 0 0 2 0 ;
}

#update-button{
    -fx-padding: 4px 4px 4px 4px;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-background-radius: 4px;
    -fx-background-color: #00aacc, #00cccc;
    -fx-background-insets: 0, 0 0 2 0 ;
}

.radio-button{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: #222;
}

.info-label{
    -fx-font-family: "Segoe UI";
    -fx-font-size: 10px;
    -fx-padding: 2px;
}


#close-button{
    -fx-shape: "M285,256l72.5-84.2c7.9-9.2,6.9-23-2.3-31c-9.2-7.9-23-6.9-30.9,2.3L256,222.4l-68.2-79.2c-7.9-9.2-21.8-10.2-31-2.3c-9.2,7.9-10.2,21.8-2.3,31L227,256l-72.5,84.2c-7.9,9.2-6.9,23,2.3,31c4.1,3.6,9.2,5.3,14.3,5.3c6.2,0,12.3-2.6,16.6-7.6l68.2-79.2l68.2,79.2c4.3,5,10.5,7.6,16.6,7.6c5.1,0,10.2-1.7,14.3-5.3c9.2-7.9,10.2-21.8,2.3-31L285,256z";
    -fx-background-color: #AF3333;
    -fx-padding: 2px;
}

#refresh-button{
    -fx-shape: "M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z";
    -fx-background-color: #222;
    -fx-padding: 2px;
}

#search-button{
    -fx-shape: "M 56.599609 21.599609 C 34.099609 21.599609 15.800781 40.100781 15.800781 62.800781 C 15.800781 85.600781 34.099609 104 56.599609 104 C 66.899609 104 76.3 100.09922 83.5 93.699219 L 85.800781 96 L 83.699219 98.199219 C 82.499219 99.399219 82.499219 101.3 83.699219 102.5 L 101.69922 120.69922 C 102.29922 121.29922 103.00078 121.59961 103.80078 121.59961 C 104.60078 121.59961 105.40039 121.29922 105.90039 120.69922 L 113.90039 112.59961 C 115.00039 111.39961 115.00078 109.50039 113.80078 108.40039 L 95.800781 90.199219 C 95.200781 89.599219 94.499219 89.300781 93.699219 89.300781 C 92.899219 89.300781 92.099609 89.599219 91.599609 90.199219 L 89.5 92.400391 L 87.199219 90 C 93.499219 82.7 97.400391 73.200781 97.400391 62.800781 C 97.400391 40.100781 79.099609 21.599609 56.599609 21.599609 z M 56.599609 27.699219 C 75.799609 27.699219 91.400391 43.500391 91.400391 62.900391 C 91.400391 82.300391 75.799609 98 56.599609 98 C 37.399609 98 21.800781 82.300391 21.800781 62.900391 C 21.800781 43.500391 37.399609 27.699219 56.599609 27.699219 z M 56.699219 40.199219 C 47.199219 40.199219 38.7 46.300781 35.5 55.300781 C 35 56.600781 35.699609 58.199609 37.099609 58.599609 C 37.399609 58.699609 37.7 58.800781 38 58.800781 C 39.1 58.800781 40.1 58.1 40.5 57 C 42.9 50.1 49.499219 45.400391 56.699219 45.400391 C 58.099219 45.400391 59.300781 44.200781 59.300781 42.800781 C 59.300781 41.400781 58.099219 40.199219 56.699219 40.199219 z M 37.699219 64.900391 C 36.299219 64.900391 35.099609 66 35.099609 67.5 L 35.099609 67.900391 C 35.199609 69.300391 36.300781 70.5 37.800781 70.5 C 39.200781 70.5 40.400391 69.300391 40.400391 67.900391 L 40.400391 67.599609 C 40.400391 66.099609 39.300781 64.900391 37.800781 64.900391 L 37.699219 64.900391 z M 93.800781 96.599609 L 107.59961 110.59961 L 103.80078 114.40039 L 90 100.40039 L 93.800781 96.599609 z";
    -fx-background-color: #222;
    -fx-padding: 2px;
}

.input-error{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgb(200,0,0);
}